{% extends "base.html" %}
{% block content %}
<h1>Create Author Account</h1>
<form class="card form" method="post" action="{{ url_for('auth.register_post') }}">
  <label>Name</label><input name="name" required/>
  <label>Email</label><input name="email" type="email" required/>
  <label>Password (min 8 chars)</label><input name="password" type="password" required/>
  <label>Default language</label>
  <select name="language">
    <option value="en">English</option>
    <option value="fr">Français</option>
  </select>
  <button class="btn" type="submit">Create account</button>
</form>
{% endblock %}
